.grand{
    display:flex;
    flex-direction:column;
    background:rgb(96,96,96);
    width:95vw;
    height:100vh;
    border: 5px solid rgb(96,96,96);
    border-radius:7px;
}   
.cont{
    display: flex;
    background:red;
    flex: 1;
    justify-content: center;
}
.pic{
    background:black;
    flex:0.3;
    border-radius:5px;



}
.main{
    background:blue;
    flex: 1.2;
    display:grid;
    grid-template-columns:auto;
}
.rain{
    background:green;
}
.hum{
    background:orange;
}
.temp{
    background:rgb(96,96,96);
    display:flex;
    flex-direction:row;
    gap:200px;



}
.tempimg{
    flex:3;
    display:inline;
    height:70px;
    margin:5px;
    width:70px;

}
.temppa{
    flex:4;
    height:auto;
    width:auto;
    max-width:50px;
    max-height:50px;
}