.grand{
    display:flex;
    flex-direction:column;
    background:rgb(96,96,96);
    width:auto;
    height:auto;
    border: 5px solid rgb(96,96,96);
    border-radius:7px;
    gap:20px;
}   
.cont{
    display: flex;
    background:rgb(96,96,96);
    flex: 1;
    justify-content: center;
    border:3px solid rgb(54, 53, 53);
    border-radius:10px;
    box-shadow:3px 3px 7px rgb(131, 130, 130);
}
.pic{
    background:rgb(96,96,96);
    flex:0.3;
    border-radius:5px;
    max-width:150px;
    max-height:150px;
    margin:5px;
}
.image{
    max-width:150px;
    max-height:150px;
}
.main{
    background:blue;
    flex: 1.2;
    display:grid;
    grid-template-columns:auto;
    border:3px solid rgb(54, 53, 53);
    border-radius:5px;
    box-shadow:3px 3px 7px rgb(131, 130, 130);
}
.rain{
    display:flex;
    flex-direction: column;
    background:#606060;
    flex-direction:row;
    gap:250px;
}
.hum{
    display:flex;
    flex-direction: column;
    background:#606060;
    flex-direction:row;
    gap:250px;
}
.temp{
    display:flex;
    flex-direction: column;
    background:#606060;
    flex-direction:row;
    gap:250px;



}
.tempimg{
    display:inline;
    height:50px;
    margin:5px;
    margin-left:50px;
    width:80px;

}
.temppa{
    max-width:100px;
    max-height:70px;
}
.rainimg{
    display:inline;
    height:50px;
    margin:5px;
    margin-left:50px;
    width:80px;

}
.rainpa{
    max-width:100px;
    max-height:70px;
}
.humimg{
    display:inline;
    height:50px;
    margin:5px;
    margin-left:50px;
    width:80px;

}
.humpa{
    max-width:100px;
    max-height:70px;
}
.place{
    max-width:80px;
    height:20px;
}